body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
} 